# OSX
.DS_Store
*.directory
.package.json.kate-swp

# node.js
node_modules/
npm-debug.log
yarn-error.log

# Jest
coverage/
__snapshots__/

# Expo
.expo/
dist/

# Local dev client build platform directories
/android/
/ios/

# IDE configuration directories
.vscode/
/.idea/

# API keys stored here
# Prevent accidental sharing
.env
