############################################
## This is a template showing what variables
## are used in this project, and it is
## in source control. Therefore:
##
## /!\ DO NOT ADD SECRETS TO THIS FILE /!\
##
## Copy this file to .env and remove this
## header to populate the ENV variables
############################################
EXPO_PUBLIC_GOOGLE_MAPS_KEY='<key>'
EXPO_PUBLIC_IFPA_API_KEY='<key>'
EXPO_PUBLIC_API_URL='https://www.pinballmap.com/api/v1'
EXPO_PUBLIC_STAGING_API_URL='https://pbmstaging.com/api/v1'
EXPO_PUBLIC_STORE_TESTERS=['googleplay', 'appletest']
EXPO_PUBLIC_SENTRY_AUTH_TOKEN='<key>'
EXPO_PUBLIC_MAPBOX_DOWNLOAD='<key>'
EXPO_PUBLIC_MAPBOX_PUBLIC='<key>'
